#photo-display {
	width: 90%;
	height: 90%;
}

#photo-container {
	background-color: rgba(10, 149, 255, 0.2);
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.confBar {
	height: 10px;
}

#confBarY {
	background-image: linear-gradient(0.25turn, #2d1fb3, rgb(61, 255, 229) 70%);
}

#confBarN {
	background-image: linear-gradient(0.25turn, #2d1fb3, rgb(62, 207, 255) 70%);
}

#results {
	color: white;
}

#results-container {
	background-color: rgba(27, 23, 23, 0.673);
	width: 500px;
	height: 250px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

#results-and-examples-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

body {
	display: flex;
	flex-direction: column;
	background-image: url("images/medical-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	color: white;
	margin-left: 50px;
	margin-bottom: -90px;
	font-family: TW-bold;
	font-size: 45px;
	background-color: rgb(0, 12, 59);
	width: 300px;
	height: 83px;
	text-align: center;
	border-width: thin;
	border-color: rgba(255, 255, 255, 0.697);
	border-style: double;
}
#main-container {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
}

#upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 60px;
}

.ex-button {
	width: 100px;
	height: 100px;
	background-size: cover;
	box-shadow: none;
	border: thin, solid, white;
}

.ex-button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8), 0 3px 6px rgba(0, 0, 0, 0.5);
}

#examples-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
	align-items: center;
}

p {
	font-family: TW-regular;
}

h4 {
	align-self: start;
	padding-left: 20px;
	position: relative;
	bottom: 20px;
	background-color: #292c309c;
	color: white;
	height: 30px;
	width: 600px;
	line-height: 30px;
	border-radius: 1px;
	font-family: TW-semi-bold;
	font-size: 21px;
}

h3 {
	font-family: TW-semi-bold;
	margin-top: -10px;
}

h2 {
	font-family: TW-bold;
	font-size: 30px;
	margin-top: -5px;
}

#ex-buttons-container {
	display: flex;
	column-gap: 25px;
	position: relative;
	bottom: 20px;
}

#buttons-container {
	display: flex;
	margin-top: 30px;
	column-gap: 50px;
}

#upload-button {
	margin-bottom: 7px;
	width: 150px;
}

#submit-button {
	width: 100px;
}

button {
	background-color: initial;
	background-image: linear-gradient(#292c30, #25292e);
	border-radius: 8px;
	border-width: 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8), 0 3px 6px rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
	height: 52px;
	font-family: TW-regular;
	font-size: 15px;
}

input::file-selector-button:active,
button:active {
	background-image: linear-gradient(rgb(12, 40, 63), rgb(9, 28, 60));
}

input::file-selector-button:hover,
button:hover {
	box-shadow: rgba(0, 1, 0, 0.2) 0 5px 8px;
	background-image: linear-gradient(#5be6ff, #20b6e0);
}

@font-face {
	font-family: TW-bold;
	src: url("Titillium_Web/TitilliumWeb-Bold.ttf");
}

@font-face {
	font-family: TW-regular;
	src: url("Titillium_Web/TitilliumWeb-Regular.ttf");
}

@font-face {
	font-family: TW-semi-bold;
	src: url("Titillium_Web/TitilliumWeb-SemiBold.ttf");
}
